<!-- 푸터 시작 -->
<div class="footer">
    <div class="footer_menu">
        <div class="footer_menu_upper">
            <div class="mr_lg_3">
                <img class="footer_logo" src="/images/logo-white-1.svg" />
            </div>
            <div class="mr_lg_3">
                <div class="footer_bold_2 mb_md_1"><a href="">믿을 수 있는 중고거래</a></div>
                <div class="footer_bold_2"><a href="">자주 묻는 질문</a></div>
            </div>
            <div class="mr_lg_3">
                <div class="footer_bold_2 mb_md_1">광고주센터</div>
                <div class="mb_md_1">당근페이</div>
                <div>동네가게</div>
            </div>
            <div class="mr_lg_3">
                <div class="mb_md_1">회사소개</div>
                <div>채용</div>
            </div>
            <div>
                <div class="mb_md_1 footer_a"><a href="">이용약관</a></div>
                <div class="mb_md_1 footer_a"><a href="">개인정보처리방침</a></div>
                <div class="footer_a"><a href="">위치기반서비스이용약관</a></div>
            </div>
        </div>
        <div class="footer_menu_lower">
            <div class="d-flex">
                <div class="mr_sm_1 footer_bold_1">고객문의</div>
                <div class="mr_md_1">cs@carrotservice.com</div>
                <div class="mr_sm_1 footer_bold_1">제휴문의</div>
                <div>contact@carrot.com</div>
            </div>
            <div class="d-flex">
                <div class="mr_sm_1 footer_bold_1">지역광고</div>
                <div class="mr_md_1">ad@carrot.com</div>
                <div class="mr_sm_1 footer_bold_1">PR문의</div>
                <div>pr@carrot.com</div>
            </div>
            <div class="mt_md_1">
                부산광역시 구로구 디지털로30길 28, 609호 (댱근서비스) 사업자 등록번호 : 111-222-33334
            </div>
            <div class="d-flex mv_md_1">
                <a href=""><img class="mr_md_1" src="/images/icon-facebook.svg"></a>
                <a href=""><img class="mr_md_1" src="/images/icon-instagram.svg"></a>
                <a href=""><img src="/images/icon-blog.svg"></a>
            </div>
            <div class="">©Carrot Market Inc.</div>
        </div>
    </div>
</div>
<!-- 푸터 끝 -->
</body>

</html>