server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: utf-8
    session:
      timeout: 60

spring:
  security:
    user:
      name: market
      password: password
  mustache:
    expose-session-attributes: true
  datasource: 
      url: jdbc:mariadb://localhost:3306/marketdb
      driver-class-name: org.mariadb.jdbc.Driver
      username: market
      password: password
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties: 
      hibernate.format_sql: true

  output:
    ansi:
      enabled: always  



