<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <title>회원가입</title>
</head>

<body class="bg_secondary">
    <!--회원가입 폼 시작-->
    <div class="box_position m_lg_3 p_lg_3">
        <div class="jf_color bg_primary p_lg_3">
            <!--로고 이미지 시작-->
            <div class="box_position mb_md_1">
                <img class="logoim" src="/img/common/DMarket_logo.png" alt="logo">
            </div>
            <!--로고 이미지 끝-->
            <!--폼 상세 시작-->
            <div class="join_box_position">
                <div class="join_box_position mb_md_1">
                    <h2>안녕하세요!</h2>
                    <h2>휴대폰 번호로 가입해주세요.</h2>
                    <p>휴대폰 번호는 안전하게 보관되며 이웃들에게 공개되지 않아요.</p>
                </div>
                <div class="join_box_position mb_sm_1">
                    <input id="tel-input" class="input_primary p_sm_1 mb_sm_1" type="tel" placeholder="휴대폰 번호 (- 없이 숫자만 입력)">
                    <button id="btn-join" hidden class="btn_primary p_sm_1 btn_primary_border">
                        <h3>인증문자 받기</h3>
                    </button>
                </div>
                <div class="join_box_position mb_sm_1">
                    <button class="btn_primary p_sm_1 mb_sm_1 btn_primary_border">
                        <h3>인증번호 확인</h3>
                    </button>
                    <div>
                        <span>휴대폰 번호가 변경되었나요?</span>
                        <a class="link_color" href="#">이메일로 계정 찾기</a>
                    </div>
                </div>

            </div>
            <!--폼 상세 끝-->
        </div>

    </div>
    <!--회원가입 폼 끝-->

    <script>
        $("#tel-input").click(()=>{ // input 클릭하면
            $("#btn-join").removeAttr("hidden"); // 히든 제거
        });
    </script>
</body>

</html>